* {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(17, 17, 17);
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
 {
    background-color: rgb(30, 30, 30);
}
.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 3 / 2 / 5 / 3; }
.div3 { grid-area: 3 / 3 / 5 / 4; }
.div4 { grid-area: 3 / 4 / 5 / 5; }
.div5 { grid-area: 5 / 2 / 7 / 3; }
.div6 { grid-area: 5 / 3 / 7 / 4; }
.div7 { grid-area: 5 / 4 / 7 / 5; }
.div8 { grid-area: 7 / 4 / 9 / 5; }
.div9 { grid-area: 2 / 1 / 12 / 1; }
.div10 { grid-area: 14 / 1 / 14 / 6; }
.div11 { grid-area: 7 / 3 / 9 / 4; }
.div12 { grid-area: 7 / 2 / 9 / 3; }
.div13 { grid-area: 12 / 2 / 13 / 5; }
.div14 { grid-area: 10 / 2 / 12 / 3; }
.div15 { grid-area: 10 / 3 / 12 / 4; }
.div16 { grid-area: 9 / 2 / 9 / 5; }
.div17 { grid-area: 2 / 2 / 3 / 5; } 
.div18 { grid-area: 10 / 4 / 12 / 5;}
    
header {
    background-color: rgb(25, 25, 25);
    align-content: center;
    text-align: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

footer {
    background-color: rgb(25, 25, 25);
    align-content: center;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
aside {
    background-color: rgb(35, 35, 35);
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
    text-indent: 5px;
    border-radius: 25px;
    width: 80%;
    margin-left: 10%;
}
details {
    margin: 15px;
}
details a {
    text-decoration: none;
}
.rozdzial {
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
}
.karta {
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    border: 5px solid black;
    cursor: pointer;
}
.karta:hover {
    scale: 1.025;
    background-color: rgb(45, 45, 45);
}
.karta p {
    margin: 5px;
}