aside {
    background-color: rgb(35, 35, 35);
    width: 80%;
    height: auto;
    border: 5px solid black;
    text-indent: 5px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    text-align: center;
}
details {
    margin: 15px;
}
details a {
    text-decoration: none;
}